Repository rodruizronald/tw-frontend-next: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

migration react to next phase 2 & 3
  src/app/jobs/search/page.tsx
  src/app/layout.tsx
  src/components/providers/ErrorBoundaryProvider.tsx
  src/components/providers/Providers.tsx
  src/components/providers/index.ts
  src/lib/config/client.ts
  src/lib/config/index.ts
  src/lib/config/server.ts
  src/lib/logging/hooks.ts
  src/lib/logging/index.ts
  src/lib/logging/logger.ts
  src/lib/logging/types.ts
  src/lib/query/index.ts
  src/lib/query/queryClient.ts
  src/lib/supabase/client.ts
  src/lib/supabase/errors.ts
  src/lib/supabase/index.ts
  src/lib/supabase/server.ts
  src/lib/supabase/types/database.ts
  src/lib/theme/index.ts
  src/lib/theme/theme.ts
Due: eslint --fix, prettier --write

migration react to next phase 5
  src/app/layout.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/types/css.d.ts
Due: eslint --fix, prettier --write

migration react to next phase 6
  src/app/jobs/search/page.tsx
  src/app/layout.tsx
Due: eslint --fix, prettier --write

migration react to next phase 7
  .env.example
  .gitignore
  README.md
  next.config.ts
  vercel.json
Due: eslint --fix, prettier --write

init supabase
  supabase/.gitignore
  supabase/README.md
  supabase/config.toml
  supabase/migrations/20250101000001_create_enums.sql
  supabase/migrations/20250101000002_create_companies_table.sql
  supabase/migrations/20250101000003_create_jobs_table.sql
  supabase/migrations/20250101000004_create_search_function.sql
  supabase/migrations/20250101000005_create_technologies_tables.sql
  supabase/migrations/20250101000006_create_indexes.sql
  supabase/migrations/20250101000007_enable_rls.sql
Due: prettier --write

tabnine mcps
  .tabnine/mcp_servers.json
Due: prettier --write

supabase makefile
  Makefile
Due: none

github action code quality
  .github/workflows/code-quality.yml
Due: none

remove unused envs
  .env.example
  README.md
  src/lib/config/client.ts
  src/lib/config/server.ts
Due: eslint --fix, prettier --write

fix envs naming
  .env.example
  .github/workflows/code-quality.yml
  README.md
  src/lib/config/client.ts
  src/lib/config/server.ts
  src/lib/supabase/client.ts
  src/lib/supabase/server.ts
Due: eslint --fix, prettier --write

docs: add git guidelines for commits and branches
  .github/GIT_GUIDELINES.md
Due: prettier --write

docs: add git guidelines for commits and branches (#1)
  .github/GIT_GUIDELINES.md
Due: prettier --write

refactor: migrate to nextjs native error handling
  package-lock.json
  package.json
  src/app/error.tsx
  src/app/global-error.tsx
  src/app/jobs/search/loading.tsx
  src/components/providers/ErrorBoundaryProvider.tsx
  src/components/providers/Providers.tsx
  src/components/providers/index.ts
Due: eslint --fix, prettier --write

refactor: use useState for QueryClient creation
  src/components/providers/Providers.tsx
  src/lib/query/index.ts
  src/lib/query/queryClient.ts
Due: eslint --fix, prettier --write

refactor: enable server-side data access with DI pattern
  src/features/jobs/api/jobRepository.ts
  src/features/jobs/api/jobService.ts
  src/features/jobs/hooks/useCompanyOptions.ts
  src/features/jobs/hooks/useJobSearch.ts
  src/lib/supabase/index.ts
  src/lib/supabase/types.ts
Due: eslint --fix, prettier --write

feat: add url-based search state and route error page
  src/app/jobs/search/error.tsx
  src/components/JobLayout/JobLayout.tsx
Due: eslint --fix, prettier --write

refactor: move company logos to public directory
  public/company_logos/akurey.jpeg
  public/company_logos/golabs_tech.jpeg
  public/company_logos/gorilla_logic.jpeg
  public/company_logos/growth_acceleration_partners.jpeg
Due: none

fix: resolve infinite loop in useCompanyOptions by memoizing useLogger hook
  src/lib/logging/hooks.ts
Due: eslint --fix, prettier --write

refactor: migrate to nextjs native error handling (#2)
  package-lock.json
  package.json
  public/company_logos/akurey.jpeg
  public/company_logos/golabs_tech.jpeg
  public/company_logos/gorilla_logic.jpeg
  public/company_logos/growth_acceleration_partners.jpeg
  src/app/error.tsx
  src/app/global-error.tsx
  src/app/jobs/search/error.tsx
  src/app/jobs/search/loading.tsx
  src/components/JobLayout/JobLayout.tsx
  src/components/providers/ErrorBoundaryProvider.tsx
  src/components/providers/Providers.tsx
  src/components/providers/index.ts
  src/features/jobs/api/jobRepository.ts
  src/features/jobs/api/jobService.ts
  src/features/jobs/hooks/useCompanyOptions.ts
  src/features/jobs/hooks/useJobSearch.ts
  src/lib/logging/hooks.ts
  src/lib/query/index.ts
  src/lib/query/queryClient.ts
  src/lib/supabase/index.ts
  src/lib/supabase/types.ts
Due: eslint --fix, prettier --write

feat: add default values for search bar and language filter
  src/components/JobLayout/JobLayout.tsx
  src/features/jobs/hooks/useJobFilters.ts
Due: eslint --fix, prettier --write

chore: move git guidelines to project root
  GIT_GUIDELINES.md
Due: prettier --write

feat: show badge count for default date filter selection
  src/features/jobs/hooks/useJobFilters.ts
  src/features/jobs/types/filters.ts
Due: eslint --fix, prettier --write

fix: trigger search only on button click not filter change
  src/components/JobLayout/JobLayout.tsx
Due: eslint --fix, prettier --write

refactor: remove automatic url sync on filter changes
  src/features/jobs/hooks/useJobFilters.ts
Due: eslint --fix, prettier --write

feat: add initial search on page load with default query
  src/components/JobLayout/JobLayout.tsx
Due: eslint --fix, prettier --write

feat: update url with default query params on initial load
  src/components/JobLayout/JobLayout.tsx
Due: eslint --fix, prettier --write

feat: add default search and language values (#3)
  GIT_GUIDELINES.md
  src/components/JobLayout/JobLayout.tsx
  src/features/jobs/hooks/useJobFilters.ts
  src/features/jobs/types/filters.ts
Due: eslint --fix, prettier --write

refactor: replace city and province with location enum
  supabase/migrations/20250101000001_create_enums.sql
  supabase/migrations/20250101000003_create_jobs_table.sql
  supabase/migrations/20250101000004_create_search_function.sql
  supabase/migrations/20250101000006_create_indexes.sql
Due: none

refactor: replace city and province with location enum (#4)
  supabase/migrations/20250101000001_create_enums.sql
  supabase/migrations/20250101000003_create_jobs_table.sql
  supabase/migrations/20250101000004_create_search_function.sql
  supabase/migrations/20250101000006_create_indexes.sql
Due: none

docs: update git guidelines
  GIT_GUIDELINES.md
Due: prettier --write

docs: update git guidelines (#5)
  GIT_GUIDELINES.md
Due: prettier --write

chore: add path filters and migration workflow
  .github/workflows/code-quality.yml
  .github/workflows/deploy-migrations.yml
Due: none

chore: add concurrency, timeouts and dry-run to migrations
  .github/workflows/deploy-migrations.yml
Due: none

chore: update ci workflows (#6)
  .github/workflows/code-quality.yml
  .github/workflows/deploy-migrations.yml
Due: none

chore: optimize github workflow configurations
  .github/workflows/code-quality.yml
  .github/workflows/deploy-migrations.yml
Due: none

Revise README title and description
  README.md
Due: prettier --write

fix: filter workflows
  .github/workflows/code-quality.yml
  .github/workflows/deploy-migrations.yml
Due: none

chore: optimize github workflow configurations (#8)
  .github/workflows/code-quality.yml
  .github/workflows/deploy-migrations.yml
Due: none

Revise README title and description (#7)
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs})) or (any of: *.{json,md,css})
